<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.png" />

    <title>SSDP @ 20</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/ssdp.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link href="/css/all.css" rel="stylesheet"> <!--load all styles -->

    <!-- OpenGraph Data -->
    <meta property="og:title" content="SSDP Turns 20">
    <meta property="og:description" content="Students for Sensible Drug Policy is turning 20 years old. Host or join a birthday party!">
    <meta property="og:image" content="https://birthday.ssdp.org/img/SSDP20-logo-transparent.jpg">
    <meta property="og:url" content="{{ .Permalink }}">

    <!-- Twitter Card Data -->
    <meta name="twitter:title" content="SSDP Turns 20">
    <meta name="twitter:description" content="Students for Sensible Drug Policy is turning 20 years old. Host or join a birthday party!">
    <meta name="twitter:image" content="https://birthday.ssdp.org/img/SSDP20-logo-transparent.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Custom styles for this template -->
    <style>

      .navbar.compressed {
        height:0px;
        padding: 0;
      }

      .navbar.compressed > .container{
        display: none;
      }

      .navbar {
        border-bottom: 5px solid #136F8D;
      }

    </style>

  </head>
<body lang="en">
