<!-- Navigation -->
<div class="fixed-top">

  <div id="subheader" class="container">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="mailto:ssdp@ssdp.org" target="" data-toggle="tooltip" data-placement="" title="">
          <div class="header_contact_item"><span class="icon icon-mail2"></span> ssdp@ssdp.org</div>
        </a>
      </li>
      <li class="nav-item">
        <div class="header_contact_item"><span class="icon icon-mobile3"></span> 202-393-5280</div>
      </div>
    </li>
      <a target="_blank" href="https://www.youtube.com/user/SSDP" class="header_soc_icon" title="YouTube" style="opacity: 0.9;">
        <span class="icon icon-youtube"></span>
      </a>
        <a target="_blank" href="https://www.instagram.com/schoolsnotprisons/" class="header_soc_icon" title="Instagram" style="opacity: 0.9;">
          <span class="icon icon-instagram2"></span>
        </a>
        <a target="_blank" href="https://twitter.com/ssdp" class="header_soc_icon" title="Twitter" style="opacity: 0.9;">
          <span class="icon icon-twitter3"></span>
        </a>
        <a target="_blank" href="https://www.facebook.com/ssdp/" class="header_soc_icon" title="Facebook" style="opacity: 0.9;">
		    <span class="icon icon-facebook3"></span>
      </a>
    </div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
